name: CI/CD
on:
  push:
    branches: [ main, development ]
  pull_request:
    branches: [ main, development ]

jobs:
  dependencies:
    uses: ./.github/workflows/dependencies.yml
    secrets: inherit

  ci-project-linux:
    needs: [ dependencies ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

  ci-project-macos:
    needs: [ dependencies ]
    runs-on: macos-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

  ci-project-windows:
    needs: [ dependencies ]
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4


