name: Install environment dependencies
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  env-linux:
    runs-on: ubuntu-latest

    steps:
      - name: pull code
        uses: actions/checkout@v4

      - name: Downloading and Installing requirements
        run: |
           sudo apt-get update 
           sudo apt-get install build-essential git make pkg-config cmake ninja-build \ 
                                gnome-desktop-testing libasound2-dev libpulse-dev libaudio-dev \ 
                                libfribidi-dev libjack-dev libsndio-dev libx11-dev libxext-dev \ 
                                libxrandr-dev libxcursor-dev libxfixes-dev libxi-dev libxss-dev \ 
                                libxtst-dev libxkbcommon-dev libdrm-dev libgbm-dev libgl1-mesa-dev \ 
                                libgles2-mesa-dev libegl1-mesa-dev libdbus-1-dev libibus-1.0-dev \ 
                                libudev-dev libthai-dev libpipewire-0.3-dev libwayland-dev libdecor-0-dev \ 
                                liburing-dev libpng-dev libjpeg-dev libflac-dev libwavpack-dev libxmp-dev \
                                libogg-dev  libmpg123-dev libfreetype-dev libharfbuzz-dev -y 
           mkdir -p ~/Libs
           mkdir -p ~/git ; cd ~/git
           git clone --depth 1 https://github.com/libsdl-org/SDL 
           git clone --depth 1 https://github.com/libsdl-org/SDL_image 
           git clone --depth 1 https://github.com/libsdl-org/SDL_mixer 
           git clone --depth 1 https://github.com/libsdl-org/SDL_ttf
          
           echo "~/git: "
           ls ~/git
        
      - name: Compiling and installing SDL3
        run: |
          cd ~/git/SDL
          mkdir -p build ; cd build
          echo "* Starting configure SDL3...."
          cmake .. -DCMAKE_BUILD_TYPE=Release -DSDL_TEST=OFF -DCMAKE_INSTALL_PREFIX=~/Libs/SDL3_image
          echo "* Compiling and installing SDL3_...."
          cmake --build . -j4 --target install
          if [ $? -ne 0 ]; then
              echo "* No error occurred, finished! "
          else
              echo "* Failed to compile and install! "
          fi

      - name: Compiling and installing SDL3_image
        run: |
          cd ~/git/SDL_image
          mkdir -p build ; cd build
          echo "* Starting configure SDL3_image...."
          cmake .. -DCMAKE_BUILD_TYPE=Release -DCMAKE_PREFIX_PATH=~/Libs/SDL3 -DCMAKE_INSTALL_PREFIX=~/Libs/SDL3_image
          echo "* Compiling and installing SDL3_image...."
          cmake --build . -j4 --target install
          if [ $? -ne 0 ]; then
              echo "* No error occurred, finished! "
          else
              echo "* Failed to compile and install! "
          fi

      - name: Compiling and installing SDL3_mixer
        run: |
          cd ~/git/SDL_mixer
          mkdir -p build ; cd build
          echo "* Starting configure SDL3_mixer...."
          cmake .. -DCMAKE_BUILD_TYPE=Release -DCMAKE_PREFIX_PATH=~/Libs/SDL3 -DCMAKE_INSTALL_PREFIX=~/Libs/SDL3_mixer
          echo "* Compiling and installing SDL3_mixer...."
          cmake --build . -j4 --target install
          if [ $? -ne 0 ]; then
              echo "* No error occurred, finished! "
          else
              echo "* Failed to compile and install! "
          fi

      - name: Compiling and installing SDL3_ttf
        run: |
          cd ~/git/SDL_ttf
          mkdir -p build ; cd build
          echo "* Starting configure SDL3_ttf...."
          cmake .. -DCMAKE_BUILD_TYPE=Release -DCMAKE_PREFIX_PATH=~/Libs/SDL3 -DCMAKE_INSTALL_PREFIX=~/Libs/SDL3_ttf
          echo "* Compiling and installing SDL3_ttf...."
          cmake --build . -j4 --target install
          if [ $? -ne 0 ]; then
              echo "* No error occurred, finished! "
          else
              echo "* Failed to compile and install! "
          fi
      
      
      





